{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactános</title>
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            
        <div class="container-fluid">
            <!-- Navbar -->
            <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
            <a class="nav-link active" aria-current="page" href="{% url 'registro' %}">Registrarse</a>
            <!-- Navbar Toggler para dispositivos pequeños -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos de navegación -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'planta' %}">Plantas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'tierra' %}">Tierras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'macetas' %}">Maceteros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-disabled="page" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-disabled="page" href=" {% url 'testimonios' %}">Testimonios</a>
                        
                    </li>
                </ul>
        </nav>

    <div class="container mt-4">
        <h2 class="text-center mb-4">Contáctanos</h2>
        <form id="contact-form">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" required>
            </div>
            <div class="form-group">
                <label for="asunto">Asunto:</label>
                <input type="text" class="form-control" id="asunto" placeholder="Ingrese el asunto" required>
            </div>
            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea class="form-control" id="mensaje" rows="5" placeholder="Escriba su mensaje aquí" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar mensaje</button>
        </form>
        <div id="mensaje-enviado" class="alert alert-success d-none" role="alert">
            ¡Mensaje enviado correctamente!
        </div>
    </div>

    

    <script src="{% static 'js/contacto.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>
